@page "/login"
@using DicekittensBlazor.Data
@inject AccountService AccountServ

<h3>Login</h3>

<div class="row">
	<div class="col-4 col-xs-12">
		<EjsTextBox Placeholder="Username" @bind-Value="@Username" CssClass="e-outline" FloatLabelType='@FloatLabelType.Auto'></EjsTextBox>
		<EjsTextBox Placeholder="Password" @bind-Value="@Password" Type="password" CssClass="e-outline" FloatLabelType='@FloatLabelType.Auto'></EjsTextBox>
		<EjsButton Content="Submit" @onclick="Submit" IsPrimary="true"></EjsButton>
		<EjsButton Content="Kookie" @onclick="Kookie" IsPrimary="false"></EjsButton>
		<p>@Notice</p>

	</div>
</div>


@code {

	private string Username { get; set; } = "";
	private string Password { get; set; } = "";
	private string Notice { get; set; } = "";

	private async void Submit()
	{
		Notice = "Logining with " + Username + ":" + Password;
		
		
	}

	private async void Kookie()
	{
		Notice = "Logining with " + Username + ":" + Password;
		
	}

}
